body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
}
.btn {
    padding: 7px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .5px;
    background-color: var(--white);
    color: var(--dark);
    border: none;
}
:root {
    --white: #FFFFFF;
    --dark: #232323;
}

/* Header - start */
body._lock {
    overflow: hidden;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header__wrapper {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    position: relative;
    z-index: 5;
    font-weight: 700;
    font-size: 30px;
    color: var(--white);
    letter-spacing: 2px;
}
.menu__nav {
    position: relative;
}
.menu__list {
    display: flex;
    align-items: center;
}
.burger {
    display: none;
    background: none;
}
.menu__item:not(:last-child) {
    margin-right: 30px;
}
.menu__link {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
}
.menu__link:hover {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}

/* Header Scroll BG - start */
.header.scrolled {
    background: linear-gradient(112.21deg, rgba(19, 19, 19, 0.91) 2.72%, rgba(18, 18, 18, 0.91) 101.59%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}
/* Header Scroll BG - end */

/* Dropdown - start */
.dropdown {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    cursor: pointer;
}
.dropdown__header {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
    color: var(--white);
}
.dropdown__icon {
    margin-left: 5px;
    width: 10px;
    height: 10px;
}
.dropdown__list {
    height: 230px;
}
.dropdown__item {
    font-weight: 400;
    font-size: 15px;
    color: var(--white);
    padding-top: 25px;
    padding-left: 50px;
}
.dropdown.closed .dropdown__list {
    height: 0px;
}
.dropdown.closed .dropdown__header .dropdown__icon {
    transform: rotate(180deg);
}
/* Dropdwon - end */



/* Header info start */
.header__info {
    display: none;
}
@media screen and (max-width: 880px) { 
    .header__info {
        margin-top: 50px;
        display: block;
    }
    .header__items {
        display: inline-block;
    }
    .header__link {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 15px;
        color: var(--white);
    }
    .header__link:not(:last-child) {
        margin-bottom: 20px;
    }
    .header__icon {
        margin-right: 7px;
        width: 25px;
        height: 25px;
    }
}
/* Header info end */

@media screen and (max-width: 880px) {
    .burger {
        position: relative;
        z-index: 5;
        display: block;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger__line {
        width: 70%;
        right: 0;
    }
    .burger__line,
    .burger::before,
    .burger::after {
        position: absolute;
        height: 10%;
        transition: all 0.3s ease 0s;
        background-color: var(--white);
    }
    .burger::before,
    .burger::after {
        content: '';
        width: 100%;
        left: 0;
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger__line {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger._active .burger__line {
        transform: scale(0) translate(0px, -50%);
    }
    .burger._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--dark);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
        padding: 50px 30px 30px 30px;
        transition: right 0.3s ease 0s;
        overflow: auto;
    }
    .menu__nav._active {
        right: 0;
        padding: 0 32px;
    }
    .menu__nav::before {
        padding: 50px 0;
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .menu__list {
        margin-top: 100px;
        align-items: flex-start;
        flex-direction: column;
    }
    .menu__nav._active .menu__list > .menu__item {
        flex-direction: column;
        flex-wrap: wrap;
        letter-spacing: 1px;
        margin: 20px auto 0px 0px;
    }
    .menu__link {
        font-size: 18px;
    }
}
/* Header - end */


/* Hero - start */
.hero {
    background: linear-gradient(-45deg, #232323, #262626);
    height: 1000px;
}
.hero__wrapper {
    padding-top: 300px;
}
.hero__title {
    font-weight: 700;
    font-size: 50px;
    color: var(--white);
    text-align: center;
}
/* Hero - end */


